# If you change this, regenerate jupyterlite-config/requirements.txt with
# `pip-compile jupyterlite-config/requirements.in > jupyterlite-config/requirements.txt`
# Core infra
jupyterlite-core==0.2.2
jupyterlab>4
notebook>7

# Kernels
jupyterlite-pyodide-kernel==0.2.0
jupyterlite-javascript-kernel==0.2.2

# UI features
jupyterlab-open-url-parameter>=0.2.0

# Very very minimal widgets
ipywidgets>8
