uvicorn[standard]
fastapi
nbconvert
python-multipart
aiofiles
gunicorn
aiobotocore
aiohttp
yarl
jupytext
content-size-limit-asgi
# Keep this in sync with the Dockerfile, until https://github.com/jupyter/nbconvert/pull/1683
# is merged and released
https://github.com/yuvipanda/nbconvert/archive/cd55f532ace440c3698abf5d8423d1418dfc19ab.zip
# Explicitly install ipython because our nbconvert override requires it
ipython_genutils
