{% extends "lab/index.html.j2" %}

{% block extra_css %}
<style>
{% include 'style.css' %}
</style>
{% endblock extra_css %}

{% block body_header %}
{% block paste_header %}
<div class="paste-Header">
<h1 class="paste-Title">
ipynb.space
</h1>
<small class="paste-SubTitle">a pastebin for your notebooks</small>
<div class="paste-Actions">
    <a href="?download=true" class="paste-Download bp3-button bp3-minimal" tabindex="0">Download this Notebook</a>
    <a href="#" class="paste-Upload bp3-button bp3-outlined" tabindex="0" id="paste-UploadButton">Upload new Notebook</a>
</div>
</div>
{% endblock %}
{{ super() }}
{% endblock %}

{% block body_footer %}
<div class="paste-Footer">
Notebook content licensed under <a href="https://creativecommons.org/share-your-work/public-domain/cc0/">CC0</a>
</div>
{{ super() }}
{% endblock %}

{% block footer_js %}
<div class="paste-Hidden">
    <form action="/upload" method="POST" enctype="multipart/form-data" id='paste-UploadForm'>
        <input type="file" name="upload" accept=".ipynb" id="paste-UploadFile" />
    </form>
</div>
<script>
{% include 'upload.js' %}
</script>
{% endblock footer_js %}
