.jp-Notebook {
    width: 970px;
    margin-left: auto;
    margin-right: auto;
}

.paste-Header {
    display: flex;
    background: var(--jp-layout-color1);
    align-items: baseline;
    font-family: var(--jp-code-font-family);

    margin-bottom: 16px;
    padding-bottom: 8px;
    border-bottom-color: var(--jp-border-color0);
    border-bottom-width: 1px;
    border-bottom-style: dotted;
}

.paste-Title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.paste-Footer {
    text-align: center;
    color: var(--jp-ui-font-color2);
    padding-top: 8px;
    margin-top: 40px;
    border-top-color: var(--jp-border-color0);
    border-top-width: 1px;
    border-top-style: dotted;

}

.paste-Footer a {
    border-bottom: var(--jp-border-color1);
    border-bottom-style: dashed;
    border-bottom-width: 1px;
}

.paste-SubTitle {
    flex-grow: 1;
    padding-left: 4px;
}

.paste-Hidden {
    display: none !important;
}

.paste-Front {
    text-align: center;
    font-family: var(--jp-code-font-family);
}


.paste-Front-header a, .paste-Front-howto small a {
    border-bottom: var(--jp-border-color1);
    border-bottom-style: dashed;
    border-bottom-width: 1px;
}

.paste-Front-header h1 {
    font-size: 4rem;
    margin-bottom: 8px;
}

.paste-Front-howto {
    display: flex;
    justify-content: center;
    text-align: left;
    padding-top:24px;
}

.paste-Front-howto small {
    display: block;
    font-size: 0.8rem;
    line-height: 1.6rem;
    color: var(--jp-ui-font-color3);
}

.paste-Front-howto li {
    line-height: 2.6rem;
    font-size: 1.3rem;
}

.paste-Front-howto li a.bp3-button {
    font-size: 1.3rem !important;
}
