{% extends "base.html.j2" %}

{% block head %}
<link rel="stylesheet" href="/static/front.css" />
<script src="/static/front.js"></script>

<title>notebooksharing.space | fastest way to share your notebooks</title>
{% endblock %}

{% block content %}
{% endblock %}

