.mono {
    font-family: Menlo, Consolas, "DejaVu Sans Mono", monospace !important;
    font-weight: 600;
}
footer {
    border-top-color: lightgrey;
    border-top-width: 1px;
    border-top-style: dotted;
    color: var(--jp-ui-font-color3);
    font-family: var(--jp-code-font-family);
    line-height: 2rem;
    text-align: center;
    padding-top: 16px;
}

footer a {
    border-bottom: var(--jp-border-color1);
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    color: inherit;
}

footer.sticky {
    position: fixed;
    bottom: 0px;
}
button {
    font-family: -apple-system;
}

.big-button .upload-button .spinner-border {
    margin-left: 4px;
    margin-bottom: 4px;
}

.upload-button .spinner-border {
    margin-left: 2px;
    margin-bottom: 2px;
}

.big-button {
    /* This matches the size of the other <li> */
    font-size: 1.3rem;
}
