.front {
    text-align: center;
    font-family: Menlo, Consolas, "DejaVu Sans Mono", monospace;
    font-weight: 400;
}


.front a {
    border-bottom: var(--jp-border-color1);
    border-bottom-style: dashed;
    border-bottom-width: 1px;
}

.front h1 {
    font-size: 4rem;
    margin-bottom: 8px;
    font-weight: 700;
    margin-top: 52px;
    margin-bottom: 16px;
}

#howto {
    display: flex;
    justify-content: center;
    text-align: left;
    padding-top:24px;
}

#howto small {
    display: block;
    font-size: 0.8rem;
    line-height: 1.6rem;
    color: var(--jp-ui-font-color3);
}

#howto li {
    line-height: 2.6rem;
    font-size: 1.3rem;
}

button {
    font-family: -apple-system;
}
