.mono {
    font-family: Menlo, Consolas, "DejaVu Sans Mono", monospace !important;
    font-weight: 600;
}
footer {
    border-top-color: lightgrey;
    border-top-width: 1px;
    border-top-style: dotted;
    color: gray;
    text-align: center;
    padding-top: 16px;
    margin-top: 64px;
}

footer a {
    border-bottom: lightgray;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    color: inherit;
}
button {
    font-family: -apple-system;
}

.big-button .upload-button .spinner-border {
    margin-left: 4px;
    margin-bottom: 4px;
}

.upload-button .spinner-border {
    margin-left: 2px;
    margin-bottom: 2px;
}

.big-button {
    /* This matches the size of the other <li> */
    font-size: 1.3rem;
}
