{% extends "paste/index.html.j2" %}

{% block paste_header %}
{% endblock %}

{% block body_loop %}
<div class="paste-Front">
<div class="paste-Front-header">
    <h1> ipynb.pub </h1>
    <small>Easy web publishing for your notebooks</small>
</div>

<div class="paste-Front-howto">
<ol>
<li>
    <button class="paste-Upload bp3-button bp3-large bp3-intent-primary" tabindex="0" id="paste-UploadButton">Upload your Notebook</button>
    <small>It will be licensed as <a href="https://creativecommons.org/share-your-work/public-domain/cc0/">CC0</a> to simplify sharing</small>
</li>
<li>Get a link to your uploaded notebook</li>
<li>Share the link with anyone you want!</li>
<li>Collaboratively annotate your notebook with the <a href="https://hypothes.is/">hypothes.is</a> sidebar</li>
</ol>

</div>

<div>
</div>

{% endblock %}

{% block paste_footer %}
{% endblock %}
