<!doctype html5>
<html>
  <head>
    {% block head_styles %}
    {% endblock %}
  </head>
  <body>
    <div class="container">
    {% block content %}
    {% endblock %}

    <script src="https://hypothes.is/embed.js" async></script>
  </body>
</html>
