<!doctype html5>
<html>
  <head>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class="container" id="content">
    {% block content %}
    {% endblock %}
    </div>

  </body>
</html>
