<div style="display: none">
    <form action="/upload" method="POST" enctype="multipart/form-data" id='upload-form'>
        <input type="file" name="upload" accept=".ipynb" id="upload-file" />
    </form>
</div>
<script src="/static/view.js"></script>
