
<span id="action-upload-state-normal">
    <button class="btn btn-primary" tabindex="0" id="action-upload">{{ upload_button_label|default("Upload your Notebook", true) }}</button>
</span>

<span id="action-upload-state-progress" class="hidden">
    <button class="btn btn-primary" tabindex="0" disabled >
        Uploading...
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </button> 
</span>