{% extends "base.html.j2" %}

{% block head %}
{% if not metadata.should_index %}
<meta name="robots" rel="noindex" />
{% endif %}

<link rel="stylesheet" href="/static/view.css" />
<script src="/static/view.js"></script>
{% endblock %}

{% block content %}
{% endblock %}
