{% extends "base.html.j2" %}

{% block head_styles %}
<link rel="stylesheet" href="/static/view.css" />
{% endblock %}

{% block content %}
    <header id="page-header">
        <h1> <a href="/">ipynb.pub</a> </h1>
        <p id="page-tagline">easy web publishing for your jupyter notebooks</p>
        <div class="page-actions">
        <button class="btn btn-primary" tabindex="0" id="action-upload">Upload new Notebook</button>
        <a href="?download=true" class="btn btn-light" tabindex="0">Download this Notebook</a>
        </div>
    </header>
    <iframe id="content-frame" src="/render/v1/{{name}}" enable-annotation></iframe>
</div>
<script src="/static/view.js"></script>
{% endblock %}
