footer {
    border-top-color: lightgrey;
    border-top-width: 1px;
    border-top-style: dotted;
    color: gray;
    text-align: center;
    padding-top: 16px;
    margin-top: 64px;
}

footer a {
    border-bottom: lightgray;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    color: inherit;
}