.jp-Notebook h1, .jp-Notebook h2, .jp-Notebook h3, .jp-Notebook h4, .jp-Notebook h5, .jp-Notebook h6 {
    /* FIXME: Find a way to override this CSS variable without having to specify all selectors */
     --jp-content-heading-font-weight: 350;
}
body.jp-Notebook {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
body.option-hide-inputs .jp-CodeCell .jp-Cell-inputWrapper {
    display: none;
}