{% extends "lab/index.html.j2" %}

{% block html_head_js %}
{{ super() }}
<script src="/static/notebook.js"></script>

<meta name="dc.identifier" content="{{ resources.name }}" />
<meta name="dc.relation.ispartof" content="{{ resources.dublin_core_ispartof }}" />

{% endblock %}
